<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>COVID-19 Tracker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <h1>Coronavirus 2019 (COVID-19) Tracker</h1>
            <div class="jumbotron">
            <h1 class="display-4" th:text="${totalReportedCases}">Hello, world!</h1>
                <p class="lead">Total cases reported as of today</p>
            <hr class="my-4">
            <p>
                <span>Total number of new cases since yesterday</span>
                <span th:text="${totalNewCases}"></span>
            </p>
        </div>
    <table class="table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total Cases reported</th>
            <th>Difference from previous day</th>
            <th>Infection Curve</th>
        </tr>
            <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.prevDayDiff}">0</td>
        </tr>
</table>
</div>

    </body>
<!--    <script type="text/javascript">-->
<!--window.onload = function() {-->

<!--var dps = [[]];-->
<!--var chart = new CanvasJS.Chart("chartContainer", {-->
<!--	theme: "light2", // "light1", "dark1", "dark2"-->
<!--	animationEnabled: true,-->
<!--	title: {-->
<!--		text: "Average Sea Temperature - Amsterdam"-->
<!--	},-->
<!--	axisX: {-->
<!--		valueFormatString: "MMM"-->
<!--	},-->
<!--	axisY: {-->
<!--		title: "Temperature (in °C)",-->
<!--		suffix: " °C"-->
<!--	},-->
<!--	data: [{-->
<!--		type: "line",-->
<!--		xValueType: "dateTime",-->
<!--		xValueFormatString: "MMM",-->
<!--		yValueFormatString: "#,##0 °C",-->
<!--		dataPoints: dps[0]-->
<!--	}]-->
<!--});-->

<!--var xValue;-->
<!--var yValue;-->

<!--<c:forEach items="${dataPointsList}" var="dataPoints" varStatus="loop">-->
<!--	<c:forEach items="${dataPoints}" var="dataPoint">-->
<!--		xValue = parseInt("${dataPoint.x}");-->
<!--		yValue = parseFloat("${dataPoint.y}");-->
<!--		dps[parseInt("${loop.index}")].push({-->
<!--			x : xValue,-->
<!--			y : yValue-->
<!--		});-->
<!--	</c:forEach>-->
<!--</c:forEach>-->

<!--chart.render();-->

<!--}-->
<!--</script>-->
</html>